name: Codebase tests

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - uses: actions/setup-python@v4
        with:
          python-version: 3.11.5
          cache: 'pip'

      - name: Install UV
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh

      - name: Run Tests
        run: |
          uv venv venv
          source venv/bin/activate
          uv pip install -e .[test]
          pytest tests --cov=genlm/control --cov-report=json --ignore=tests/test_mlx.py

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: false
          disable_search: true
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.json
          slug: genlm/genlm-control

  test-mlx:
    runs-on: macos-14

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - uses: actions/setup-python@v4
        with:
          python-version: 3.11.5
          cache: 'pip'

      - name: Install UV
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh

      - name: Run MLX Tests
        run: |
          uv venv venv
          source venv/bin/activate
          uv pip install -e ".[test,mlx]"
          pytest tests/test_mlx.py --cov=genlm/control --cov-report=json

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: false
          disable_search: true
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.json
          slug: genlm/genlm-control
